@import "tailwindcss";

:root {
  --my-indigo-color: #8680ff;
  --my-indigo-dark-color: #6f68fc;
}

.bg-gray-600 {
  background-color: #2c3e57;
}

.bg-indigo {
  background-color: var(--my-indigo-color);
}

.bg-indigo-dark {
  background-color: var(--my-indigo-dark-color);
}

@custom-variant hs-accordion-active {
  &.hs-accordion.active {
    @slot;
  }

  .hs-accordion.active>& {
    @slot;
  }

  .hs-accordion.active>.hs-accordion-toggle & {
    @slot;
  }

  .hs-accordion.active>.hs-accordion-heading>.hs-accordion-toggle & {
    @slot;
  }

  &.hs-accordion-toggle {

    .hs-accordion.active>& {
      @slot;
    }
  }

  &.hs-accordion-toggle {

    .hs-accordion.active>.hs-accordion-heading>& {
      @slot;
    }
  }

  &.hs-accordion-force-active {
    .hs-accordion.active & {
      @slot;
    }
  }
}

@custom-variant hs-accordion-selected {
  &.selected {
    .hs-accordion & {
      @slot;
    }
  }
}

@custom-variant hs-accordion-outside-active {
  &.active {
    @slot;
  }
}

:where(.lexxy-content) {
  code, pre {
    background-color: #dedede !important;
  }
}
