<section class="overflow-hidden">
  <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
    <div class="grid items-center grid-cols-1 md:grid-cols-2">
      <div>
        <h2 class="text-2xl font-bold leading-tight text-black sm:text-3xl lg:text-4xl">Hey 👋 I am
          <br class="block sm:hidden" />Artem Pecherin
        </h2>
        <div class="max-w-lg mt-3 text-xl leading-relaxed text-gray-700 md:mt-8">
          I am 37 years old, and I have been engaged in software development since 2010.<br/>
          My main interests include:<br/>
          <ul class="list-disc ml-6 text-lg">
            <li>software development using Ruby, Java, Golang, and JavaScript stacks, as well as related methodologies, frameworks, and libraries;</li>
            <li>working with relational databases (primarily PostgreSQL and MySQL) at user and administrator levels;</li>
            <li>system administration of UNIX-like operating systems.</li>
          </ul>
        </div>
      </div>

      <div class="relative">
        <%= image_tag(
          "me_full.jpg",
          class: "relative w-full xl:max-w-lg xl:mx-auto 2xl:origin-bottom 2xl:scale-110",
          alt: "Me-Full"
        ) %>
      </div>
    </div>
  </div>
</section>
