<section class="w-full overflow-hidden">
  <div class="h-full mx-auto max-w-7xl flex flex-col items-center justify-evenly bg-violet-100">
    <div>
      <%= image_tag("under-constr.png") %>
    </div>  
    <div class="text-center text-2xl font-medium">
      Данный раздел находится в завершающей стадии подготовки и скоро будет представлен
    </div>
  </div>
</section>
