<!-- Tree Root -->
<div class="hs-accordion-treeview-root" role="tree" aria-orientation="vertical">
  <!-- 1st Level Accordion Group -->
  <%= render 'shared/tree/accordion_group', items:, first_level: true %>
  <!-- End 1st Level Accordion Group -->
</div>
<!-- End Tree Root -->
