<% content_for :title, "#{@article.category.name} | #{@article.title}" %>

<div class="w-full pb-5">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= render @article %>

  <%= link_to "Back to #{@article.category.name}", category_path(@article.category), class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 text-white bg-gradient-to-r from-[#8680ff] to-[#6f68fc] inline-block font-medium" %>
</div>
