<div id="<%= dom_id category %>" class="w-full my-3 sm:w-auto space-y-5">
  <h1 class="flex flex-row gap-2 items-center font-bold text-3xl">
    <%= icon_tag(category, zoom: 150, class: "bg-gray-300 p-1 rounded border border-gray-400") %>
    <%= category.name %>
  </h1>
  <div class="pb-15">
    <%= category.description %>
  </div>
</div>
