<% content_for :title, @category.name %>

<div class="relative w-full pb-15">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= link_to category_articles_path(@category) do %>
    <div class="fixed bottom-5 right-1/2 transform translate-x-1/2 z-1 flex inline-flex gap-2 justify-center items-center text-white bg-gradient-to-r from-[#8680ff] to-[#6f68fc] py-1 px-2 rounded">
      <span><b>View More</b></span>
      <svg class="w-6" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 25 22" class="w-6 h-6 ml-2">
        <path d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
      </svg>
    </div>  
  <% end %>

  <%= render @category %>
</div>
