<div class="space-y-1 px-2 pb-3 pt-2">
  <% ['Core', 'Programing Languages', 'Extra Tools'].each do |item_name| %>
    <%= render 'layouts/navbar/menu_item', name: item_name, active: false, mobile: true %>
  <% end %>
</div>
