<el-dropdown class="relative">
  <button class="relative flex rounded-full focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500 cursor-pointer">
    <span class="absolute -inset-1.5"></span>
    <%= image_tag("me.jpg", class: "border-2 border-gray-300 h-[3rem] w-[3rem] rounded-full bg-gray-600 outline outline-1 -outline-offset-1 outline-white/10", alt: "Me") %>
  </button>

  <el-menu anchor="bottom end" popover class="m-0 w-48 origin-top-right bg-gray-600 p-0 py-1 shadow-lg outline outline-1 outline-black/5 transition [--anchor-gap:theme(spacing.2)] [transition-behavior:allow-discrete] data-[closed]:scale-95 data-[closed]:transform data-[closed]:opacity-0 data-[enter]:duration-100 data-[leave]:duration-75 data-[enter]:ease-out data-[leave]:ease-in">
    <%= link_to "About me", 
      about_path,
      class: "block px-4 py-2 text-md text-gray-300 hover:bg-white/5 hover:text-white"
    %>
    <% if admin_user_signed_in? %>
      <%= link_to "Admin Dashboard", 
          admin_dashboard_path,
          class: "block px-4 py-2 text-md text-gray-300 hover:bg-white/5 hover:text-white"
      %>
      <%= link_to "Sign out", 
          destroy_admin_user_session_path,
          class: "block px-4 py-2 text-md text-gray-300 hover:bg-white/5 hover:text-white",
          data: { turbo_method: :delete }
      %>
    <% end%>  
  </el-menu>
</el-dropdown>
